#!/usr/bin/env python3


def rot13(c):
{% for chr_i, chr_j in rot13_table.items() %}
    if c == '{{ chr_i }}':
        return '{{ chr_j }}'
{% endfor %}


if __name__ == '__main__':
    print(''.join(map(rot13, input())))
